INTEGRATION

In [2]:
import pandas as pd

In [3]:
address_trip=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output/reviews_save.csv")
address_trip

,id,address_trip,reviews
0,1,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex..."
1,0,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ..."
2,3,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '..."
3,2,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett..."
4,5,"Via Novara, Piazza Carlo Amati, 31, 20147 Mila...","[{'bubbles': 'bubble_50', 'title': 'Ottima car..."
...,...,...,...
6964,6964,"Via Castelbarco, 17, 20136 Milano Italia",[]
6965,6965,"Via Giuseppe Saragat 6, 20128 Milano Italia",[]
6966,6966,"Piazza Venticinque Aprile, 10 Eataly Smeraldo,...",[]
6967,6967,"Via Marco Formentini, 2, Milano Italia",[]
6968,6968,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[]

In [4]:
trip_advisor=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output/trip_restaurants_final.csv")
trip_advisor['title'] = trip_advisor['title'].str.replace('^\d+\.\s', '')

trip_advisor

C:\Users\pc\AppData\Local\Temp\ipykernel_13460\2060783908.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  trip_advisor['title'] = trip_advisor['title'].str.replace('^\d+\.\s', '')

,id,title,r_bubbles,r_number,cook_type,expensive
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€
...,...,...,...,...,...,...
6965,6965,Nk Bar,?,0,Pizza,?
6966,6966,Caffè Vergnano 1882,?,0,?,?
6967,6967,Hekfan,?,0,?,?
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€
6969,6969,Wine time milano,?,0,?,?

In [5]:
trip_advisor

,id,title,r_bubbles,r_number,cook_type,expensive
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€
...,...,...,...,...,...,...
6965,6965,Nk Bar,?,0,Pizza,?
6966,6966,Caffè Vergnano 1882,?,0,?,?
6967,6967,Hekfan,?,0,?,?
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€
6969,6969,Wine time milano,?,0,?,?

In [6]:
overall_trip=pd.merge(trip_advisor, address_trip , on="id")
overall_trip

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ..."
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex..."
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett..."
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '..."
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ..."
...,...,...,...,...,...,...,...,...
6964,6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[]
6965,6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[]
6966,6966,Caffè Vergnano 1882,?,0,?,?,"Piazza Venticinque Aprile, 10 Eataly Smeraldo,...",[]
6967,6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[]
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[]

In [7]:
overall_trip[overall_trip["id"]==606]

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
605,606,"Ham Holy Burger - Milano, viale Bligny","Punteggio 4,0 su 5",704 recensioni,"Americana, Bar",€€ - €€€,"Viale Bligny 39, 20136 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Super appr..."
606,606,"Ham Holy Burger - Milano, viale Bligny","Punteggio 4,0 su 5",704 recensioni,"Americana, Bar",€€ - €€€,"Viale Bligny 39, 20136 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Super appr..."

In [8]:
overall_trip=overall_trip.drop_duplicates('id')
#there are 2 duplicates with the same id

In [9]:
overall_trip[overall_trip["id"]==606]
#check if i have removed the dubplicate

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
605,606,"Ham Holy Burger - Milano, viale Bligny","Punteggio 4,0 su 5",704 recensioni,"Americana, Bar",€€ - €€€,"Viale Bligny 39, 20136 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Super appr..."

In [10]:
google_dataset=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output_files/google_dataset_cleaned_2.csv")
google_dataset=google_dataset[['Index', 'name_google','price_level_google','rating_google','total_reviews_google','address']]
google_dataset

,Index,name_google,price_level_google,rating_google,total_reviews_google,address
0,0,Autogrill,2.0,3.5,2501.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
1,2,L'angolo del Buongustaio,NaN,1.0,1.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
2,3,Compagnia Dell'Espresso Srl,NaN,NaN,NaN,"Viale Milanofiori SDA 6, Assago, MI 20090"
3,4,Assago 03,NaN,NaN,NaN,"Piazza degli Incontri, Assago"
4,5,Rasoi baget,NaN,NaN,NaN,"Via Roma, Assago"
...,...,...,...,...,...,...
6444,22590,Happy Moments Restaurant,2.0,4.5,826.0,"Viale Thomas Alva Edison, 452, Sesto San Giovanni"
6445,22600,Bar Olimpia Di Gaeta Deborah,NaN,3.6,54.0,"Via Marzabotto, 199, Sesto San Giovanni"
6446,22605,Vinum Et Alia SPA,NaN,4.0,2.0,"Via Bilbao, 2, Cologno Monzese"
6447,22607,Pizzeria Ristorante San Mina 2,1.0,4.4,125.0,"Via Michelangelo Buonarroti, 14, Cologno Monzese"
6448,22608,Bar Buonarroti,NaN,4.8,6.0,"Via Michelangelo Buonarroti, 2, Cologno Monzese"

In [11]:

df=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output_files/record_linkage_index.csv")
df

,trip,similar
0,#gelatamo Milano,[]
1,01 Curti Food,[]
2,100 Montaditos,"[{'score': 100, 'google': '100 Montaditos', 'f..."
3,02 Hosteria Contemporanea,"[{'score': 100, 'google': '02 Hosteria Contemp..."
4,'O Fiore Mio' Pizzeria,[]
...,...,...
6894,un mon dodi sapori,"[{'score': 100, 'google': 'Un Mondo di Sapori'..."
6895,sushi ran bovisamilano,"[{'score': 82, 'google': 'Sushi Ran Bovisa', '..."
6896,İstanbul Girasole,[]
6897,theLab - unconventional burger experience®,[]
6898,Ristorante Ischia,"[{'score': 80, 'google': 'RISTORANTE MINA', 'f..."

In [12]:
df = df.rename(columns={'trip': 'title'})
df

,title,similar
0,#gelatamo Milano,[]
1,01 Curti Food,[]
2,100 Montaditos,"[{'score': 100, 'google': '100 Montaditos', 'f..."
3,02 Hosteria Contemporanea,"[{'score': 100, 'google': '02 Hosteria Contemp..."
4,'O Fiore Mio' Pizzeria,[]
...,...,...
6894,un mon dodi sapori,"[{'score': 100, 'google': 'Un Mondo di Sapori'..."
6895,sushi ran bovisamilano,"[{'score': 82, 'google': 'Sushi Ran Bovisa', '..."
6896,İstanbul Girasole,[]
6897,theLab - unconventional burger experience®,[]
6898,Ristorante Ischia,"[{'score': 80, 'google': 'RISTORANTE MINA', 'f..."

In [13]:
#import ast

#def get_google_name(similar):
    #if similar:
        # convert the string representation of list of dicts to an actual list of dicts
       #matches = ast.literal_eval(similar)
        #if matches:
            #return matches[0]['google']
    #return ''

#df['similar'] = df['similar'].apply(get_google_name)
#df = df[['trip', 'similar']]

In [14]:
df

,title,similar
0,#gelatamo Milano,[]
1,01 Curti Food,[]
2,100 Montaditos,"[{'score': 100, 'google': '100 Montaditos', 'f..."
3,02 Hosteria Contemporanea,"[{'score': 100, 'google': '02 Hosteria Contemp..."
4,'O Fiore Mio' Pizzeria,[]
...,...,...
6894,un mon dodi sapori,"[{'score': 100, 'google': 'Un Mondo di Sapori'..."
6895,sushi ran bovisamilano,"[{'score': 82, 'google': 'Sushi Ran Bovisa', '..."
6896,İstanbul Girasole,[]
6897,theLab - unconventional burger experience®,[]
6898,Ristorante Ischia,"[{'score': 80, 'google': 'RISTORANTE MINA', 'f..."

In [15]:
overall_trip

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ..."
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex..."
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett..."
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '..."
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ..."
...,...,...,...,...,...,...,...,...
6964,6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[]
6965,6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[]
6966,6966,Caffè Vergnano 1882,?,0,?,?,"Piazza Venticinque Aprile, 10 Eataly Smeraldo,...",[]
6967,6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[]
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[]

In [16]:
google_dataset = google_dataset.rename(columns={'name_google': 'new_column'})

In [17]:
#pd.merge(overall_trip,df, on="title")
df['title'] = df['title'].str.strip()
overall_trip['title'] = overall_trip['title'].str.strip()
merged_df = pd.merge(overall_trip, df, on='title')
merged_df

C:\Users\pc\AppData\Local\Temp\ipykernel_13460\3626995157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overall_trip['title'] = overall_trip['title'].str.strip()

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews,similar
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ...","[{'score': 80, 'google': 'Mia Restaurant', 'fo..."
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex...","[{'score': 82, 'google': 'Ape Bistrot', 'forma..."
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett...",[]
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '...",[]
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ...","[{'score': 100, 'google': 'BLUE M MILANO - BOT..."
...,...,...,...,...,...,...,...,...,...
8533,6963,Davet Turkish Kebap Pizzeria Grill,?,0,"Pizza, Fast food",?,"Piazzale Stazione Genova, 2, 20144 Milano Italia",[],"[{'score': 86, 'google': 'DAYI TURKISH KEBAP P..."
8534,6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[],[]
8535,6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[],[]
8536,6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[],[]
8537,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[],[]

In [18]:
duplicates = merged_df.duplicated(subset=['title'], keep=False)
ids = merged_df[duplicates]['id']
print(ids)

118      119
119      119
120     3501
121     3501
155      153
        ...
8279    6814
8280    6814
8281    6814
8487    6909
8488    6909
Name: id, Length: 2187, dtype: int64

In [19]:
merged_df=merged_df.drop_duplicates('id')

In [20]:
merged_df = merged_df.set_index('id')
merged_df

,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews,similar
id,,,,,,,,
0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ...","[{'score': 80, 'google': 'Mia Restaurant', 'fo..."
1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex...","[{'score': 82, 'google': 'Ape Bistrot', 'forma..."
2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett...",[]
3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '...",[]
4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ...","[{'score': 100, 'google': 'BLUE M MILANO - BOT..."
...,...,...,...,...,...,...,...,...
6963,Davet Turkish Kebap Pizzeria Grill,?,0,"Pizza, Fast food",?,"Piazzale Stazione Genova, 2, 20144 Milano Italia",[],"[{'score': 86, 'google': 'DAYI TURKISH KEBAP P..."
6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[],[]
6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[],[]
6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[],[]
6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[],[]

In [21]:
import re

# Regular expression pattern to match the relevant information
pattern = r"\{'score': \d+, 'google': '([^']*)', 'formatted_google': '([^']*)'\}"

# Function to extract information from the "similar" column
def extract_similar(similar):
    matches = re.findall(pattern, similar)
    return {match[0]: match[1] for match in matches}

# Apply the function to the "similar" column
merged_df['similar'] = merged_df['similar'].apply(extract_similar)

In [22]:
import pandas as pd

pd.set_option('display.max_rows', 50)

merged = merged_df.loc[:, ["title", "address_trip", "similar"]]
import pandas as pd
merged
#merged.to_excel('prova.xlsx', index=False)

,title,address_trip,similar
id,,,
0,Mabuhay Restaurant,"Bastioni di Porta Volta 9, 20121 Milano Italia",{'Mia Restaurant': 'miarestaurant'}
1,Parea Bistrot,"Via Vigna 6, 20123 Milano Italia","{'Ape Bistrot': 'apebistrot', 'Arena Bistrot':..."
2,Il Panino,"Via Laghetto 7, 20122 Milano Italia",{}
3,Cantiere Hambirreria,"Corso Garibaldi, 111, 20121 Milano Italia",{}
4,BLUE M Milano - Bottega Marchigiana,Via Lanzone 27 Sant'Ambrogio - Università Catt...,{'BLUE M MILANO - BOTTEGA MARCHIGIANA': 'bluem...
...,...,...,...
6963,Davet Turkish Kebap Pizzeria Grill,"Piazzale Stazione Genova, 2, 20144 Milano Italia",{'DAYI TURKISH KEBAP PIZZA GRILL': 'dayiturkis...
6964,La Buttiga Franco's Room,"Via Castelbarco, 17, 20136 Milano Italia",{}
6965,Nk Bar,"Via Giuseppe Saragat 6, 20128 Milano Italia",{}
6967,Hekfan,"Via Marco Formentini, 2, Milano Italia",{}
6968,La Puccia Ignorante Xxl,"Via Filippo Brunelleschi 4, 20146 Milano Italia",{}

In [23]:
merged['similar'] = merged['similar'].apply(lambda x: list(x.keys()))

In [24]:
merged['new_column'] = merged['similar'].apply(lambda x: x[0] if len(x) > 0 else None)

In [25]:
merged.pop('similar')

id
0                                        [Mia Restaurant]
1                            [Ape Bistrot, Arena Bistrot]
2                                                      []
3                                                      []
4                   [BLUE M MILANO - BOTTEGA MARCHIGIANA]
                              ...
6963    [DAYI TURKISH KEBAP PIZZA GRILL, Turkish Kebap...
6964                                                   []
6965                                                   []
6967                                                   []
6968                                                   []
Name: similar, Length: 6883, dtype: object

In [26]:
merged

,title,address_trip,new_column
id,,,
0,Mabuhay Restaurant,"Bastioni di Porta Volta 9, 20121 Milano Italia",Mia Restaurant
1,Parea Bistrot,"Via Vigna 6, 20123 Milano Italia",Ape Bistrot
2,Il Panino,"Via Laghetto 7, 20122 Milano Italia",None
3,Cantiere Hambirreria,"Corso Garibaldi, 111, 20121 Milano Italia",None
4,BLUE M Milano - Bottega Marchigiana,Via Lanzone 27 Sant'Ambrogio - Università Catt...,BLUE M MILANO - BOTTEGA MARCHIGIANA
...,...,...,...
6963,Davet Turkish Kebap Pizzeria Grill,"Piazzale Stazione Genova, 2, 20144 Milano Italia",DAYI TURKISH KEBAP PIZZA GRILL
6964,La Buttiga Franco's Room,"Via Castelbarco, 17, 20136 Milano Italia",None
6965,Nk Bar,"Via Giuseppe Saragat 6, 20128 Milano Italia",None
6967,Hekfan,"Via Marco Formentini, 2, Milano Italia",None
6968,La Puccia Ignorante Xxl,"Via Filippo Brunelleschi 4, 20146 Milano Italia",None

In [27]:
google_dataset

,Index,new_column,price_level_google,rating_google,total_reviews_google,address
0,0,Autogrill,2.0,3.5,2501.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
1,2,L'angolo del Buongustaio,NaN,1.0,1.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
2,3,Compagnia Dell'Espresso Srl,NaN,NaN,NaN,"Viale Milanofiori SDA 6, Assago, MI 20090"
3,4,Assago 03,NaN,NaN,NaN,"Piazza degli Incontri, Assago"
4,5,Rasoi baget,NaN,NaN,NaN,"Via Roma, Assago"
...,...,...,...,...,...,...
6444,22590,Happy Moments Restaurant,2.0,4.5,826.0,"Viale Thomas Alva Edison, 452, Sesto San Giovanni"
6445,22600,Bar Olimpia Di Gaeta Deborah,NaN,3.6,54.0,"Via Marzabotto, 199, Sesto San Giovanni"
6446,22605,Vinum Et Alia SPA,NaN,4.0,2.0,"Via Bilbao, 2, Cologno Monzese"
6447,22607,Pizzeria Ristorante San Mina 2,1.0,4.4,125.0,"Via Michelangelo Buonarroti, 14, Cologno Monzese"
6448,22608,Bar Buonarroti,NaN,4.8,6.0,"Via Michelangelo Buonarroti, 2, Cologno Monzese"

PRIMO METODO MERGE SUL NOME, NE HO CIRCA 45OO dopo il MERGE MA  PRIMA DELLA PULIZIA, DATASET iniziale a similarità 80%

In [28]:
merged['new_column'] = merged['new_column'].str.strip()
google_dataset['new_column'] = google_dataset['new_column'].str.strip()
google_and_trip_by_names= pd.merge(merged,google_dataset, on='new_column')
google_and_trip_by_names=google_and_trip_by_names.rename(columns={"new_column": "google_name"})
google_and_trip_by_names.pop("Index")
google_and_trip_by_names

,title,address_trip,google_name,price_level_google,rating_google,total_reviews_google,address
0,Mabuhay Restaurant,"Bastioni di Porta Volta 9, 20121 Milano Italia",Mia Restaurant,NaN,5.0,1.0,"Via Carlo Torre, 43, Milano"
1,Parea Bistrot,"Via Vigna 6, 20123 Milano Italia",Ape Bistrot,NaN,NaN,NaN,"Via Castel Morrone, 5, Milano"
2,Dei Bistrot,"Via Solferino, 44, 20121 Milano Italia",Ape Bistrot,NaN,NaN,NaN,"Via Castel Morrone, 5, Milano"
3,Amobistrot,"Via Gustavo Modena 26, 20129 Milano Italia",Ape Bistrot,NaN,NaN,NaN,"Via Castel Morrone, 5, Milano"
4,BLUE M Milano - Bottega Marchigiana,Via Lanzone 27 Sant'Ambrogio - Università Catt...,BLUE M MILANO - BOTTEGA MARCHIGIANA,NaN,4.7,87.0,"Via Lanzone, 27, Milano"
...,...,...,...,...,...,...,...
4514,Pomodorini e Basilico,"Via Savona 75, 20144 Milano Italia",Pizzeria pomodorini e basilico,NaN,3.8,44.0,"Via Savona, 75, Milano"
4515,Traffic Lights,"V.le Monza, 112, Milano Italia",Traffic Lights,1.0,4.0,64.0,"Viale Monza, 112, Milano"
4516,Trattoria Tricolore,"Via Macedonio Melloni 35, 20129 Milano Italia",Trattoria Tricolore,NaN,4.6,32.0,"Via Macedonio Melloni, 35, Milano"
4517,Cleopatra Pizza,"Via Padova, 29, 20127 Milano Italia",Cleopatra Pizza,NaN,3.8,32.0,"Via Padova, 29, Milano"
4518,Davet Turkish Kebap Pizzeria Grill,"Piazzale Stazione Genova, 2, 20144 Milano Italia",DAYI TURKISH KEBAP PIZZA GRILL,NaN,4.2,81.0,"Via Luigi Ornato, 136, Milano"

google_and_trip_by_names.to_excel("integration_da_correggere.xlsx", index=False)

SECONDO METODO: PROVO A MERGIARE SULL'INDIRIZZO

In [29]:
merged['address_trip'] = merged['address_trip'].str.replace(r'\b\d{5}\b', '').str.strip()
merged

C:\Users\pc\AppData\Local\Temp\ipykernel_13460\46290087.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  merged['address_trip'] = merged['address_trip'].str.replace(r'\b\d{5}\b', '').str.strip()

,title,address_trip,new_column
id,,,
0,Mabuhay Restaurant,"Bastioni di Porta Volta 9, Milano Italia",Mia Restaurant
1,Parea Bistrot,"Via Vigna 6, Milano Italia",Ape Bistrot
2,Il Panino,"Via Laghetto 7, Milano Italia",None
3,Cantiere Hambirreria,"Corso Garibaldi, 111, Milano Italia",None
4,BLUE M Milano - Bottega Marchigiana,Via Lanzone 27 Sant'Ambrogio - Università Catt...,BLUE M MILANO - BOTTEGA MARCHIGIANA
...,...,...,...
6963,Davet Turkish Kebap Pizzeria Grill,"Piazzale Stazione Genova, 2, Milano Italia",DAYI TURKISH KEBAP PIZZA GRILL
6964,La Buttiga Franco's Room,"Via Castelbarco, 17, Milano Italia",None
6965,Nk Bar,"Via Giuseppe Saragat 6, Milano Italia",None
6967,Hekfan,"Via Marco Formentini, 2, Milano Italia",None
6968,La Puccia Ignorante Xxl,"Via Filippo Brunelleschi 4, Milano Italia",None

In [30]:
import pandas as pd
from concurrent.futures import ThreadPoolExecutor
from fuzzywuzzy import fuzz



# preprocess the address columns in both datasets
merged['address_clean'] = merged['address_trip'].str.replace(r'\b\d{5}\b', '').str.lower().str.strip()
google_dataset['address_clean'] = google_dataset['address'].str.replace(r'\b\d{5}\b', '').str.lower().str.strip()

# define a function to compute the similarity score between two strings
def compute_similarity(str1, str2):
    return fuzz.token_set_ratio(str1, str2)

# define a function to match a row from merged with a row from google_dataset
def match(row1):
    title1 = row1['title']
    address1 = row1['address_clean']
    scores = []
    for _, row2 in google_dataset.iterrows():
        title2 = row2['new_column']
        address2 = row2['address_clean']
        score1 = compute_similarity(address1, address2)
        score2 = compute_similarity(title1, title2)
        final_score = fuzz.WRatio(address1 + title1, address2 + title2)
        if final_score > 80:
            scores.append((final_score, row1.name, row2.name))
    if len(scores) > 0:
        scores.sort(reverse=True)
        return scores[0]

# match the rows in parallel using ThreadPoolExecutor
results = []
with ThreadPoolExecutor() as executor:
    futures = [executor.submit(match, row) for _, row in merged.iterrows()]
    for future in futures:
        res = future.result()
        if res:
            results.append(res)

# create a new DataFrame with the matched rows
matched = pd.DataFrame(results, columns=['score', 'merged_index', 'google_index'])
matched.set_index('merged_index', inplace=True)
matched.sort_index(inplace=True)

# merge the two datasets using the matched rows
final = merged.merge(google_dataset, left_index=True, right_index=True, suffixes=('_merged', '_google'), how='outer')
final.set_index('title', inplace=True)

for _, row in matched.iterrows():
    merged_row = merged.loc[row.name]
    google_row = google_dataset.loc[row['google_index']]
    final_row = final.loc[merged_row['title']]
    final_row['score'] = row['score']
    final_row['address_google'] = google_row['address']
    final_row['price_level_google'] = google_row['price_level_google']
    final_row['rating_google'] = google_row['rating_google']
    final_row['total_reviews_google'] = google_row['total_reviews_google']

final.to_csv('matched.csv')

C:\Users\pc\AppData\Local\Temp\ipykernel_13460\314190207.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  merged['address_clean'] = merged['address_trip'].str.replace(r'\b\d{5}\b', '').str.lower().str.strip()
C:\Users\pc\AppData\Local\Temp\ipykernel_13460\314190207.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  google_dataset['address_clean'] = google_dataset['address'].str.replace(r'\b\d{5}\b', '').str.lower().str.strip()