INTEGRATION

In [985]:
import pandas as pd

In [986]:
address_trip=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output/reviews_save.csv")
address_trip

,id,address_trip,reviews
0,1,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex..."
1,0,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ..."
2,3,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '..."
3,2,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett..."
4,5,"Via Novara, Piazza Carlo Amati, 31, 20147 Mila...","[{'bubbles': 'bubble_50', 'title': 'Ottima car..."
...,...,...,...
6964,6964,"Via Castelbarco, 17, 20136 Milano Italia",[]
6965,6965,"Via Giuseppe Saragat 6, 20128 Milano Italia",[]
6966,6966,"Piazza Venticinque Aprile, 10 Eataly Smeraldo,...",[]
6967,6967,"Via Marco Formentini, 2, Milano Italia",[]
6968,6968,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[]

In [987]:
trip_advisor=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output/trip_restaurants_final.csv")
trip_advisor['title'] = trip_advisor['title'].str.replace('^\d+\.\s', '')

trip_advisor

C:\Users\pc\AppData\Local\Temp\ipykernel_20436\2060783908.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  trip_advisor['title'] = trip_advisor['title'].str.replace('^\d+\.\s', '')

,id,title,r_bubbles,r_number,cook_type,expensive
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€
...,...,...,...,...,...,...
6965,6965,Nk Bar,?,0,Pizza,?
6966,6966,Caffè Vergnano 1882,?,0,?,?
6967,6967,Hekfan,?,0,?,?
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€
6969,6969,Wine time milano,?,0,?,?

In [988]:
trip_advisor

,id,title,r_bubbles,r_number,cook_type,expensive
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€
...,...,...,...,...,...,...
6965,6965,Nk Bar,?,0,Pizza,?
6966,6966,Caffè Vergnano 1882,?,0,?,?
6967,6967,Hekfan,?,0,?,?
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€
6969,6969,Wine time milano,?,0,?,?

In [989]:
overall_trip=pd.merge(trip_advisor, address_trip , on="id")
overall_trip

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ..."
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex..."
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett..."
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '..."
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ..."
...,...,...,...,...,...,...,...,...
6964,6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[]
6965,6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[]
6966,6966,Caffè Vergnano 1882,?,0,?,?,"Piazza Venticinque Aprile, 10 Eataly Smeraldo,...",[]
6967,6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[]
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[]

In [990]:
overall_trip[overall_trip["id"]==606]

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
605,606,"Ham Holy Burger - Milano, viale Bligny","Punteggio 4,0 su 5",704 recensioni,"Americana, Bar",€€ - €€€,"Viale Bligny 39, 20136 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Super appr..."
606,606,"Ham Holy Burger - Milano, viale Bligny","Punteggio 4,0 su 5",704 recensioni,"Americana, Bar",€€ - €€€,"Viale Bligny 39, 20136 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Super appr..."

In [991]:
overall_trip=overall_trip.drop_duplicates('id')
#there are 2 duplicates with the same id

In [992]:
overall_trip[overall_trip["id"]==606]
#check if i have removed the dubplicate

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
605,606,"Ham Holy Burger - Milano, viale Bligny","Punteggio 4,0 su 5",704 recensioni,"Americana, Bar",€€ - €€€,"Viale Bligny 39, 20136 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Super appr..."

In [993]:
google_dataset=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output_files/google_dataset_cleaned_2.csv")
google_dataset=google_dataset[['Index', 'name_google','price_level_google','rating_google','total_reviews_google','address']]
google_dataset

,Index,name_google,price_level_google,rating_google,total_reviews_google,address
0,0,Autogrill,2.0,3.5,2501.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
1,2,L'angolo del Buongustaio,NaN,1.0,1.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
2,3,Compagnia Dell'Espresso Srl,NaN,NaN,NaN,"Viale Milanofiori SDA 6, Assago, MI 20090"
3,4,Assago 03,NaN,NaN,NaN,"Piazza degli Incontri, Assago"
4,5,Rasoi baget,NaN,NaN,NaN,"Via Roma, Assago"
...,...,...,...,...,...,...
6444,22590,Happy Moments Restaurant,2.0,4.5,826.0,"Viale Thomas Alva Edison, 452, Sesto San Giovanni"
6445,22600,Bar Olimpia Di Gaeta Deborah,NaN,3.6,54.0,"Via Marzabotto, 199, Sesto San Giovanni"
6446,22605,Vinum Et Alia SPA,NaN,4.0,2.0,"Via Bilbao, 2, Cologno Monzese"
6447,22607,Pizzeria Ristorante San Mina 2,1.0,4.4,125.0,"Via Michelangelo Buonarroti, 14, Cologno Monzese"
6448,22608,Bar Buonarroti,NaN,4.8,6.0,"Via Michelangelo Buonarroti, 2, Cologno Monzese"

In [994]:

df=pd.read_csv("C:/Users/pc/Desktop/progetti data management/data-management-project/output_files/record_linkage_index.csv")
df

,trip,similar
0,'O Macarò,"[{'score': 100, 'google': ""'O Macarò"", 'format..."
1,02 Hosteria Contemporanea,"[{'score': 100, 'google': '02 Hosteria Contemp..."
2,#gelatamo Milano,[]
3,01 Curti Food,[]
4,100 Montaditos,"[{'score': 100, 'google': '100 Montaditos', 'f..."
...,...,...
6894,un mon dodi sapori,"[{'score': 100, 'google': 'Un Mondo di Sapori'..."
6895,Carico,[]
6896,theLab - unconventional burger experience®,[]
6897,İstanbul Girasole,[]
6898,Ristorante Ischia,"[{'score': 80, 'google': 'RISTORANTE MINA', 'f..."

In [995]:
df = df.rename(columns={'trip': 'title'})
df

,title,similar
0,'O Macarò,"[{'score': 100, 'google': ""'O Macarò"", 'format..."
1,02 Hosteria Contemporanea,"[{'score': 100, 'google': '02 Hosteria Contemp..."
2,#gelatamo Milano,[]
3,01 Curti Food,[]
4,100 Montaditos,"[{'score': 100, 'google': '100 Montaditos', 'f..."
...,...,...
6894,un mon dodi sapori,"[{'score': 100, 'google': 'Un Mondo di Sapori'..."
6895,Carico,[]
6896,theLab - unconventional burger experience®,[]
6897,İstanbul Girasole,[]
6898,Ristorante Ischia,"[{'score': 80, 'google': 'RISTORANTE MINA', 'f..."

In [996]:
#import ast

#def get_google_name(similar):
    #if similar:
        # convert the string representation of list of dicts to an actual list of dicts
       #matches = ast.literal_eval(similar)
        #if matches:
            #return matches[0]['google']
    #return ''

#df['similar'] = df['similar'].apply(get_google_name)
#df = df[['trip', 'similar']]

In [997]:
df

,title,similar
0,'O Macarò,"[{'score': 100, 'google': ""'O Macarò"", 'format..."
1,02 Hosteria Contemporanea,"[{'score': 100, 'google': '02 Hosteria Contemp..."
2,#gelatamo Milano,[]
3,01 Curti Food,[]
4,100 Montaditos,"[{'score': 100, 'google': '100 Montaditos', 'f..."
...,...,...
6894,un mon dodi sapori,"[{'score': 100, 'google': 'Un Mondo di Sapori'..."
6895,Carico,[]
6896,theLab - unconventional burger experience®,[]
6897,İstanbul Girasole,[]
6898,Ristorante Ischia,"[{'score': 80, 'google': 'RISTORANTE MINA', 'f..."

In [998]:
overall_trip

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ..."
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex..."
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett..."
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '..."
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ..."
...,...,...,...,...,...,...,...,...
6964,6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[]
6965,6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[]
6966,6966,Caffè Vergnano 1882,?,0,?,?,"Piazza Venticinque Aprile, 10 Eataly Smeraldo,...",[]
6967,6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[]
6968,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[]

In [999]:
google_dataset = google_dataset.rename(columns={'name_google': 'new_column'})

In [1000]:
#pd.merge(overall_trip,df, on="title")
df['title'] = df['title'].str.strip()
overall_trip['title'] = overall_trip['title'].str.strip()
merged_df = pd.merge(overall_trip, df, on='title')
merged_df

C:\Users\pc\AppData\Local\Temp\ipykernel_20436\3626995157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overall_trip['title'] = overall_trip['title'].str.strip()

,id,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews,similar
0,0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ...","[{'score': 80, 'google': 'Mia Restaurant', 'fo..."
1,1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex...","[{'score': 82, 'google': 'Ape Bistrot', 'forma..."
2,2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett...",[]
3,3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '...",[]
4,4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ...","[{'score': 100, 'google': 'BLUE M MILANO - BOT..."
...,...,...,...,...,...,...,...,...,...
8533,6963,Davet Turkish Kebap Pizzeria Grill,?,0,"Pizza, Fast food",?,"Piazzale Stazione Genova, 2, 20144 Milano Italia",[],"[{'score': 86, 'google': 'DAYI TURKISH KEBAP P..."
8534,6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[],[]
8535,6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[],[]
8536,6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[],[]
8537,6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[],[]

In [1001]:
duplicates = merged_df.duplicated(subset=['title'], keep=False)
ids = merged_df[duplicates]['id']
print(ids)

118      119
119      119
120     3501
121     3501
155      153
        ...
8279    6814
8280    6814
8281    6814
8487    6909
8488    6909
Name: id, Length: 2187, dtype: int64

In [1002]:
merged_df=merged_df.drop_duplicates('id')

In [1003]:
merged_df = merged_df.set_index('id')
merged_df

,title,r_bubbles,r_number,cook_type,expensive,address_trip,reviews,similar
id,,,,,,,,
0,Mabuhay Restaurant,"Punteggio 5,0 su 5",842 recensioni,Filippina,€,"Bastioni di Porta Volta 9, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Piacevole ...","[{'score': 80, 'google': 'Mia Restaurant', 'fo..."
1,Parea Bistrot,"Punteggio 5,0 su 5",158 recensioni,?,?,"Via Vigna 6, 20123 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Locale sex...","[{'score': 82, 'google': 'Ape Bistrot', 'forma..."
2,Il Panino,"Punteggio 5,0 su 5",226 recensioni,"Italiana, Cibo di strada",€,"Via Laghetto 7, 20122 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'Da brevett...",[]
3,Cantiere Hambirreria,"Punteggio 5,0 su 5",923 recensioni,"Italiana, Americana",?,"Corso Garibaldi, 111, 20121 Milano Italia","[{'bubbles': 'bubble_50', 'title': 'SUPER!', '...",[]
4,BLUE M Milano - Bottega Marchigiana,"Punteggio 5,0 su 5",158 recensioni,Italiana,€,Via Lanzone 27 Sant'Ambrogio - Università Catt...,"[{'bubbles': 'bubble_50', 'title': 'Le Marche ...","[{'score': 100, 'google': 'BLUE M MILANO - BOT..."
...,...,...,...,...,...,...,...,...
6963,Davet Turkish Kebap Pizzeria Grill,?,0,"Pizza, Fast food",?,"Piazzale Stazione Genova, 2, 20144 Milano Italia",[],"[{'score': 86, 'google': 'DAYI TURKISH KEBAP P..."
6964,La Buttiga Franco's Room,?,0,"Italiana, Americana",?,"Via Castelbarco, 17, 20136 Milano Italia",[],[]
6965,Nk Bar,?,0,Pizza,?,"Via Giuseppe Saragat 6, 20128 Milano Italia",[],[]
6967,Hekfan,?,0,?,?,"Via Marco Formentini, 2, Milano Italia",[],[]
6968,La Puccia Ignorante Xxl,?,0,"Italiana, Fast food",€,"Via Filippo Brunelleschi 4, 20146 Milano Italia",[],[]

In [1004]:
import re

# Regular expression pattern to match the relevant information
pattern = r"\{'score': \d+, 'google': '([^']*)', 'formatted_google': '([^']*)'\}"

# Function to extract information from the "similar" column
def extract_similar(similar):
    matches = re.findall(pattern, similar)
    return {match[0]: match[1] for match in matches}

# Apply the function to the "similar" column
merged_df['similar'] = merged_df['similar'].apply(extract_similar)

In [1005]:
import pandas as pd

pd.set_option('display.max_rows', 50)

merged = merged_df.loc[:, ["title", "address_trip", "similar"]]
import pandas as pd
merged
#merged.to_excel('prova.xlsx', index=False)

,title,address_trip,similar
id,,,
0,Mabuhay Restaurant,"Bastioni di Porta Volta 9, 20121 Milano Italia",{'Mia Restaurant': 'miarestaurant'}
1,Parea Bistrot,"Via Vigna 6, 20123 Milano Italia","{'Ape Bistrot': 'apebistrot', 'Arena Bistrot':..."
2,Il Panino,"Via Laghetto 7, 20122 Milano Italia",{}
3,Cantiere Hambirreria,"Corso Garibaldi, 111, 20121 Milano Italia",{}
4,BLUE M Milano - Bottega Marchigiana,Via Lanzone 27 Sant'Ambrogio - Università Catt...,{'BLUE M MILANO - BOTTEGA MARCHIGIANA': 'bluem...
...,...,...,...
6963,Davet Turkish Kebap Pizzeria Grill,"Piazzale Stazione Genova, 2, 20144 Milano Italia",{'DAYI TURKISH KEBAP PIZZA GRILL': 'dayiturkis...
6964,La Buttiga Franco's Room,"Via Castelbarco, 17, 20136 Milano Italia",{}
6965,Nk Bar,"Via Giuseppe Saragat 6, 20128 Milano Italia",{}
6967,Hekfan,"Via Marco Formentini, 2, Milano Italia",{}
6968,La Puccia Ignorante Xxl,"Via Filippo Brunelleschi 4, 20146 Milano Italia",{}

In [1006]:
merged['similar'] = merged['similar'].apply(lambda x: list(x.keys()))

In [1007]:
merged['new_column'] = merged['similar'].apply(lambda x: x[0] if len(x) > 0 else None)

In [1008]:
merged.pop('similar')

id
0                                        [Mia Restaurant]
1                            [Ape Bistrot, Arena Bistrot]
2                                                      []
3                                                      []
4                   [BLUE M MILANO - BOTTEGA MARCHIGIANA]
                              ...
6963    [DAYI TURKISH KEBAP PIZZA GRILL, Turkish Kebap...
6964                                                   []
6965                                                   []
6967                                                   []
6968                                                   []
Name: similar, Length: 6883, dtype: object

In [1009]:
merged

,title,address_trip,new_column
id,,,
0,Mabuhay Restaurant,"Bastioni di Porta Volta 9, 20121 Milano Italia",Mia Restaurant
1,Parea Bistrot,"Via Vigna 6, 20123 Milano Italia",Ape Bistrot
2,Il Panino,"Via Laghetto 7, 20122 Milano Italia",None
3,Cantiere Hambirreria,"Corso Garibaldi, 111, 20121 Milano Italia",None
4,BLUE M Milano - Bottega Marchigiana,Via Lanzone 27 Sant'Ambrogio - Università Catt...,BLUE M MILANO - BOTTEGA MARCHIGIANA
...,...,...,...
6963,Davet Turkish Kebap Pizzeria Grill,"Piazzale Stazione Genova, 2, 20144 Milano Italia",DAYI TURKISH KEBAP PIZZA GRILL
6964,La Buttiga Franco's Room,"Via Castelbarco, 17, 20136 Milano Italia",None
6965,Nk Bar,"Via Giuseppe Saragat 6, 20128 Milano Italia",None
6967,Hekfan,"Via Marco Formentini, 2, Milano Italia",None
6968,La Puccia Ignorante Xxl,"Via Filippo Brunelleschi 4, 20146 Milano Italia",None

In [1010]:
google_dataset

,Index,new_column,price_level_google,rating_google,total_reviews_google,address
0,0,Autogrill,2.0,3.5,2501.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
1,2,L'angolo del Buongustaio,NaN,1.0,1.0,"A50 Tangenziale Ovest di Milano, km 18, Assago"
2,3,Compagnia Dell'Espresso Srl,NaN,NaN,NaN,"Viale Milanofiori SDA 6, Assago, MI 20090"
3,4,Assago 03,NaN,NaN,NaN,"Piazza degli Incontri, Assago"
4,5,Rasoi baget,NaN,NaN,NaN,"Via Roma, Assago"
...,...,...,...,...,...,...
6444,22590,Happy Moments Restaurant,2.0,4.5,826.0,"Viale Thomas Alva Edison, 452, Sesto San Giovanni"
6445,22600,Bar Olimpia Di Gaeta Deborah,NaN,3.6,54.0,"Via Marzabotto, 199, Sesto San Giovanni"
6446,22605,Vinum Et Alia SPA,NaN,4.0,2.0,"Via Bilbao, 2, Cologno Monzese"
6447,22607,Pizzeria Ristorante San Mina 2,1.0,4.4,125.0,"Via Michelangelo Buonarroti, 14, Cologno Monzese"
6448,22608,Bar Buonarroti,NaN,4.8,6.0,"Via Michelangelo Buonarroti, 2, Cologno Monzese"

In [1011]:
merged['new_column'] = merged['new_column'].str.strip()
google_dataset['new_column'] = google_dataset['new_column'].str.strip()
google_and_trip_by_names= pd.merge(merged,google_dataset, on='new_column')
google_and_trip_by_names

,title,address_trip,new_column,Index,price_level_google,rating_google,total_reviews_google,address
0,Mabuhay Restaurant,"Bastioni di Porta Volta 9, 20121 Milano Italia",Mia Restaurant,3411,NaN,5.0,1.0,"Via Carlo Torre, 43, Milano"
1,Parea Bistrot,"Via Vigna 6, 20123 Milano Italia",Ape Bistrot,10103,NaN,NaN,NaN,"Via Castel Morrone, 5, Milano"
2,Dei Bistrot,"Via Solferino, 44, 20121 Milano Italia",Ape Bistrot,10103,NaN,NaN,NaN,"Via Castel Morrone, 5, Milano"
3,Amobistrot,"Via Gustavo Modena 26, 20129 Milano Italia",Ape Bistrot,10103,NaN,NaN,NaN,"Via Castel Morrone, 5, Milano"
4,BLUE M Milano - Bottega Marchigiana,Via Lanzone 27 Sant'Ambrogio - Università Catt...,BLUE M MILANO - BOTTEGA MARCHIGIANA,8141,NaN,4.7,87.0,"Via Lanzone, 27, Milano"
...,...,...,...,...,...,...,...,...
4514,Pomodorini e Basilico,"Via Savona 75, 20144 Milano Italia",Pizzeria pomodorini e basilico,5069,NaN,3.8,44.0,"Via Savona, 75, Milano"
4515,Traffic Lights,"V.le Monza, 112, Milano Italia",Traffic Lights,17766,1.0,4.0,64.0,"Viale Monza, 112, Milano"
4516,Trattoria Tricolore,"Via Macedonio Melloni 35, 20129 Milano Italia",Trattoria Tricolore,9289,NaN,4.6,32.0,"Via Macedonio Melloni, 35, Milano"
4517,Cleopatra Pizza,"Via Padova, 29, 20127 Milano Italia",Cleopatra Pizza,15930,NaN,3.8,32.0,"Via Padova, 29, Milano"
4518,Davet Turkish Kebap Pizzeria Grill,"Piazzale Stazione Genova, 2, 20144 Milano Italia",DAYI TURKISH KEBAP PIZZA GRILL,21145,NaN,4.2,81.0,"Via Luigi Ornato, 136, Milano"

In [1013]:
google_and_trip_by_names.to_excel("integration_da_correggere.xlsx", index=False)